{% extends 'base.html' %}

{% block content %}

<div class="container-fluid" id="centerLayer">
<!--    <br>-->
<!--<h3 align="center">-->
<!--    Вход-->
<!--</h3>-->

<br>
<h5>
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</h5>
<br>

<form method="POST" action="">
    {% csrf_token %}
    <div class="form-group">
        Имя пользователя
        <input type="text" name="username" class="form-control">
        <br>
    </div>
    <div class="form-group">
        Пароль
        <input type="password" name="password" class="form-control">
        <br>
    </div>
    <input type="submit" class="btn btn-success" value="Войти"/>
</form>
<br>
<br>

<a style="color:#4682B4" href="{% url 'register_url' %}">
    <b>Зарегистрироваться</b>
</a>
</div>
{% endblock content %}