{% extends 'base.html' %}

{% block content %}
<form action="" method="POST">
    <div class="container-fluid" id="centerLayer">
        <h2 class="mt-4" align="center">Регистрация</h2>
        {% csrf_token %}
        <table>
            <tr>
                <td>Имя пользователя: <td>
                {{ reg_form.username }}
            <tr>
                <td>Электронная почта: </td>
                <td>{{ reg_form.email }}</td>
            </tr>
            <tr>
                <td>Пароль: </td>
                <td>{{ reg_form.password1 }}</td>
            </tr>
            <tr>
                <td>Повторите пароль: </td>
                <td>{{ reg_form.password2 }}</td>
            </tr>
        </table>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <br />

        <input type="submit" value="Зарегистрироваться" class="btn btn-outline-success "/>

        <br />
        <br />

        <a href="{% url 'ads_list' %}" style="color: #4682B4">
            <b>Назад на главную</b>
        </a>
    </div>
</form>
{% endblock content %}