{% extends 'base.html' %}

{% block content %}
<!--<body>-->
<div class="container-fluid" id="centerLayer">
<!--    <h6 class="mt-4"><u>Всего: {{ ads_total }}</u></h6>-->
    <form method="GET">
        {{ filter.form }}
        <br />
        <input type="submit" value="Найти">
        <br />
        <hr />
    </form>
    {% if ads %}
        {% for ad in filter.qs %}
            <p style="color:rgb(120, 120, 120)">
                Автор: <b>{{ ad.author }}</b> | Категория: <b>{{ ad.category }}</b>
            </p>
            <p>
                <a style="color:#4682B4" href="{% url 'ads_detail' ad.id %}"><b>{{ ad.title }}</b></a>
                <br />
                {{ ad.content|striptags|truncatechars:150 }}
            </p>
            <hr>
        {% endfor %}
    {% endif %}
</div>
<!--</body>-->
{% endblock content %}