{% extends 'base.html' %}

{% block content %}
<div class="container-fluid" id="centerLayer">
    <h3 class="mt-4" align="center">{{ ad.title }}</h3>
    <p style="color:rgb(120, 120, 120)">
        <b>
            {{ ad.pub_date|date:'d M Y' }}
        </b>
        <br />
        Автор: <b>{{ ad.author }}</b> | Категория: <b>{{ ad.category }}</b> |
        <a href="{% url 'ads_update' ad.id %}" style="color: #4682B4">
            Редактировать
        </a>
        |
        <a href="{% url 'ads_delete' ad.id %}" style="color: #4682B4">
            Удалить
        </a>
        <br>
        <b>{{ replies_to_this_ad }}</b> откликов |
        <a href="{% url 'reply_create' ad.id %}" style="color: #4682B4">
            Оставить отклик
        </a>
    </p>
    <p>
        {{ ad.content|striptags }}
    </p>
    <a href="{% url 'ads_list' %}" style="color: #4682B4">
        <b>Назад на главную</b>
    </a>
</div>
<br>
{% endblock content %}