{% extends 'base.html' %}

{% block content %}
<div class="container-fluid" id="centerLayer">
    <br />
    <form method="GET">
        <p>
            Категория: {{ filter.form.category }} |
            Заголовок: {{ filter.form.title }} |
            Автор: {{ filter.form.author }}
        </p>
        <p>
            Период: {{ filter.form.pub_date }}
        </p>
        <p>
            <input type="submit" value="Найти" style="color: #4682B4; border: #4682B4">
        </p>
        <hr>
    </form>
    {% if ads %}
        {% for ad in filter.qs %}
            <p style="color:rgb(120, 120, 120)">
                Автор: <b>{{ ad.author }}</b> | Категория: <b>{{ ad.category }}</b>
            </p>
            <p>
                <a style="color:#4682B4" href="{% url 'ads_detail' ad.id %}"><b>{{ ad.title }}</b></a>
                <br />
                {{ ad.content|striptags|truncatechars:150 }}
            </p>
            <hr>
        {% endfor %}
    {% else %}
        <h3>К сожалению, объявлений, подходящих по данным параметрам нет.</h3>
    {% endif %}
</div>
{% endblock content %}