{% extends 'base.html' %}

{% block content %}
<form action="" method="POST">
    <div class="container-fluid" id="centerLayer">
            {% csrf_token %}

            <br />

            <h4 align="center">Новое объявление</h4>

            <br />

                <p>
                    <label>Категория:</label>
                    {{ form.category }}
                    <label>Заголовок:</label>
                    {{ form.title }}

                </p>
                <p>
                    {{ form.media }}
                    {{ form.content }}
                </p>
            <input type="submit" value="Опубликовать" class="btn btn-outline-success">
            <br />
            <br />
            <br />
            <a href="{% url 'ads_list' %}">
                <b>Назад на главную</b>
            </a>
    </div>
</form>
{% endblock content %}