 {% extends 'base.html' %}

{% load advertisments_tags %}

{% block content %}
<div class="container-fluid" id="centerLayer">
    <br />
    <form method="get">
        <table>
            <tr>
                <td>Категория:</td>
                <td>{{ filter.form.category }}</td>
            <tr>
                <td>Заголовок:</td>
                <td>{{ filter.form.title }}</td>
            </tr>
            <tr>
                <td>Автор:</td>
                <td>{{ filter.form.author }}</td>
            </tr>
            <tr>
                <td>Период:</td>
                <td>{{ filter.form.pub_date }}</td>
            </tr>
        </table>
        <br/>
        <p>
            <input type="submit" value="Найти по фильтрам" class="btn btn-outline-dark btn-sm">
        </p>
        <hr>
    </form>
    {% if filter.qs %}
        {% for ad in filter.qs %}
            <p style="color:rgb(120, 120, 120)">
                Автор: <b>{{ ad.author }}</b> | Категория: <b>{{ ad.category }}</b>
            </p>
            <p>
                <a style="color:#4682B4" href="{% url 'ads_detail' ad.id %}"><b>{{ ad.title }}</b></a>
                <br />
                {{ ad.content|striptags|truncatechars:150 }}
            </p>
            <hr>
        {% endfor %}
    {% else %}
        <h6>К сожалению, объявлений, подходящих по данным параметрам нет.</h6>
    {% endif %}
</div>
{% endblock content %}