{% extends 'base.html' %}

{% block content %}
<div class="container-fluid" id="centerLayer">
    <h3 class="mt-4" align="center">Отклик отправлен!</h3>
    <p style="color:rgb(120, 120, 120)">
        <b>
            {{ reply_date|date:'d M Y' }} | {{ reply_author }}
            <br />
            Статус рассмотрения:
            {% if is_accepted %}
                <strong style="color: #008000">Принят</strong>
            {% else %}
                <strong style="color: #B22222">В ожидании</strong>
            {% endif %}
        </b>
        <a href="{% url 'reply_accept' reply.id %}" style="color: #4682B4">
            Принять отклик
        </a>
        <br />
    </p>
    <p>
        {{ reply_text|striptags }}
    </p>
    <a href="{% url 'ads_list' %}" style="color: #4682B4">
        <b>Назад на главную</b>
    </a>
</div>
<br>
{% endblock content %}