{% extends 'base.html' %}

{% block content %}
<form action="" method="POST">
    <div class="container-fluid" xmlns="http://www.w3.org/1999/html" id="centerLayer">
        <h2 class="mt-4" align="center">Отклик к объявлению "{{ ad_title }}"</h2>
            {% csrf_token %}
                <p>
                    Текст отклика: <br>
                    {{ form.text }}

                </p>
            <input type="submit" value="Отправить" style="color: #4682B4; border: #4682B4"/>
            <br><br>
            <a href="{% url 'ads_list' %}" style="color: #4682B4">
                <b>Назад на главную</b>
            </a>
    </div>
</form>
{% endblock content %}